.page3 {
   
}

 .completeddd {
	color: #d9d9d9;
	text-decoration: line-through;
    }
  .notcompleteddd{
    color:black;
    test-decoration: none;
  }
  .fixed{
      position: fixed;
      z-index: 99999;
      top:87%;
      right:8%;
  }
